body { background-color: #ffbeb8; }

.knowledge { background-color: #ffd7; padding: 10px; }

.text { font-family: 'URW Chancery L'; }

.header { 
	color: #fff900; 
}

.links {
	color: #23ff;
	text-decoration: none;
	display: block;
}

.menu {
	background-color: #3bfffb;
}

.elements {
	margin-left: 50px;}

.list {
	display: flex;
}